body{
    margin:0;
}

.navbar{
   padding:6px;
}
.first-navbar{
    float: left;
    
}

.second-navbar{
    float : right;
    margin-right: 15px;
}

.first-navbar-item{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    margin-left: 20px;
    font-size: 13px;
}
.first-navbar-item:hover{
    text-decoration: underline;
}

.second-navbar-item{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    margin-right: 20px;
    font-size: 13px;
}
.second-navbar-item:hover{
    text-decoration: underline;
}

.main{
    margin-top: 300px;
    text-align: center;
}
.input{
    padding: 20px;
}

.input-box{
    width: 500px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 0 50px;

}
.input-box:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.search-icon{
    position:relative;
    left: 45px;
    color: #9aa0a6;
    margin-top:3px;
    height: 20px;
    width: 20px; 
}

.mic-icon{
    position:relative;
    right:45px; 
    color: rgb(24, 112, 228);
    margin-top:3px;
    height: 20px;
    width: 20px; 
}

.button{
    padding-bottom: 20px;
}

.button-style{
    margin: 11px 4px;
    border: 1px;
    height: 36px;
    padding:0px 16px;
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    
}
.button-style:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.offeredin{
    font-size: 14px;
    color: #202124;
}

.language{
    color:blue;
    text-decoration: none;
    font-size: 14px;

}
.language:hover{
    text-decoration: underline;
    color: purple;
}

.footer{
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%;
}

.canada-footer{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

.bottom-footer{
    padding: 15px 30px;
    font-size: 14px;
    font-size: 15px;
}

.font-footer{
    color: #70757a;
    text-decoration: none;
    margin-right: 15px;
}

.second-line-footer{
    float: right;
}
.second-footer{
    color: #70757a;
    text-decoration: none;
    margin-left: 15px;
}
